[req]
distinguished_name = req_distinguished_name
req_extensions = v3_ca
prompt = no

[req_distinguished_name]
C = UY
ST = Montevideo
L = Montevideo
O = Infocorpgroup
OU = Certificate Authority
CN = Infocorpgroup Root CA
emailAddress = ingenieria@infocorp.com.uy

[v3_ca]
basicConstraints = critical, CA:TRUE
keyUsage = critical, cRLSign, keyCertSign
subjectKeyIdentifier = hash
